.red {
  color: #f1212a;
}

.btn-format {
  background-color: #f1212a;
  color: #000000;
  border: 2px solid #f1212a;
  margin: 10px;
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
}
.btn-format:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-format-2 {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  margin: 10px;
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
}

.btn-format-2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-format-table {
  background-color: #f1212a;
  color: #000000;
  border: 2px solid #f1212a;
  margin: 0px;
  border-radius: 5px;
  padding: 3px 6px 3px 6px;
}
.btn-format-table:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.details {
  padding: 6px;
}

#logo-img {
  width: 50%;
  height: 50%;
}