.red {
  color: #f1212a;
}

.btn-format {
  background-color: #f1212a;
  color: #000000;
  border: 2px solid #f1212a;
  margin: 10px;
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
}
.btn-format:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-format-2 {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  margin: 10px;
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
}

.btn-format-2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-format-table {
  background-color: #f1212a;
  color: #000000;
  border: 2px solid #f1212a;
  margin: 0px;
  border-radius: 5px;
  padding: 3px 6px 3px 6px;
}
.btn-format-table:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.details {
  padding: 6px;
}

#logo-img {
  width: 30%;
  height: 30%;
}

#events {
  margin-top: 10px;
}

.pagination-a {
  padding: 6px 12px 6px 12px;
  border-style: solid;
  border-color: #b9bdc0;
  border-width: 1px 1px 1px 1px;
  color: #f1212a;
  margin: 1px;
  border-radius: 5px;
}

.pagination {
  margin-top: 16px;
}

.pagination-a:hover {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

.active-a {
  background-color: #f1212a;
  color: #000000;
}

.log-reg {
  border-style: solid;
  border-color: #b9bdc0;
  border-width: 1px 1px 1px 1px;
  margin: 5px;
}